---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import site from "@/site.json";

const {
  title,
  description,
  showHeader = true,
  showFooter = true,
  class: className = "mx-4 flex-1 prose",
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title || site.name}
      description={description || site.description}
    />
  </head>

  <body class="bg-white">
    {showHeader && <Header />}
    <div class={className}>
      <slot />
    </div>
    {showFooter && <Footer />}
  </body>
</html>
