---
const { posts } = Astro.props;
---

<div class="gap-4 columns md:columns-3">
  {
    posts.map((post, idx) => {
      const { slug, title } = post.frontmatter
      return (
        <div class="flex flex-col mb-6 break-inside-avoid">
          <a href={`/proyectos/${slug}`}>
            <img
              class="w-full min-h-[300px] object-cover"
              loading="lazy"
              decoding="async"
              src={`https://picsum.photos/500/${Math.random() > 0.5 ? "300" : "640"}?random=${1 * idx}`}
            />
            <div class="p-2">{title}</div>
          </a>
        </div>
      );
    })
  }
</div>
